<a href="https://colab.research.google.com/github/HaroldThan/IvySentiment/blob/main/IvySentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7256 sha256=9deae45888995f8c31e8fc835c42d2a91a4837d673eb16c08278bf7872f6b87f
  Stored in directory: /root/.cache/pip/wheels/e6/3d/81/a3665ce657d35359ca337b1db2975dbe5cd281a88b8982f6b6
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [4]:
import tweepy
import pandas as pd

In [5]:
# Consumer keys and access tokens, used for OAuth
consumer_key = "zPfJ1DojC5PrEH2wvA9LRPHv1"
consumer_secret  ="5oXlW2Y4qxlWvYcGezaXFaRbPoWk22Zjlcpx9O9jECDcT803yF"
access_token = "1433558229242441738-3fbdv0jtkSmzlfyphfO1ISg8geRPu2"
access_token_secret = "TDRkxIvp0QGmgAsyYBpO8EY6xQqI8WE48nxPUT9hndl5U"
bearer_token = "AAAAAAAAAAAAAAAAAAAAADiRdAEAAAAAHeh%2FuRorkP8d6pR0spB9pTCN1mw%3DS7IPHm4I3zVmSh4m8cZaNr2TH1zYkYnbhVwfRSVlLamnd8wON8"

In [64]:
import tweepy

auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
api = tweepy.API(auth)
# Creation of the actual interface, using authentication
api = tweepy.API(auth)

In [117]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Dartmouth College OR #DartmouthCollege OR @dartmouth -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531363129954865153,EducaÃ§Ã£o que dÃ¡ resultado. Aisha Ellen Lemos P...,67,2022-05-30 19:53:16
1,1531329326033027072,@kevinwtung @Harvard @MikeBloomberg @Princeton...,0,2022-05-30 17:38:56
2,1531327119535616002,Top entrepreneurs from each Ivy:\n@Harvard = @...,0,2022-05-30 17:30:10
3,1531325247533686787,Thank you ðŸ‡ºðŸ‡¸ \n\n#biggreen #dartmouthwsoccer @...,4,2022-05-30 17:22:44
4,1531313829308731395,"â€œFor the first time, researchers from Dartmout...",1,2022-05-30 16:37:21
...,...,...,...,...
271,1528433764849811458,@WhiteHouse @PressSec @POTUS @DrBiden @TheDemo...,0,2022-05-22 17:53:01
272,1528427640310448129,@IngrahamAngle The elite college grads? You g...,0,2022-05-22 17:28:40
273,1528425513223606274,Good to see you @dartmouth ! https://t.co/5gso...,0,2022-05-22 17:20:13
274,1528422834300760065,Getting to know the Ara Pacis! @dartmouth stu...,11,2022-05-22 17:09:35
275,1528368375096913923,@realTuckFrumper D'Souza moved to the United S...,1,2022-05-22 13:33:10

In [118]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Harvard OR #Harvard OR Harvard University -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531374267937566720,@RevengelnTheAir Cool but Iâ€™m not reading that...,1,2022-05-30 20:37:31
1,1531374043768553472,This honour makes me extremely happy to share ...,0,2022-05-30 20:36:38
2,1531373585838874625,@DrCarlottaBerry @educator2us @RoseHulman @Bla...,1,2022-05-30 20:34:49
3,1531371087770132481,I happen to know more then 2/3 of the Harvard ...,0,2022-05-30 20:24:53
4,1531366654168506369,Breakfast that went to Harvard University ðŸ™†ðŸ˜‚ h...,0,2022-05-30 20:07:16
...,...,...,...,...
995,1530565926097145857,@chefjoseandres Congratulations on your honora...,0,2022-05-28 15:05:27
996,1530565824758562818,"For quite some time now, universities have bee...",2,2022-05-28 15:05:03
997,1530565346599608322,"Chairman PPP, Forgein Minister OF Pakistan @BB...",0,2022-05-28 15:03:09
998,1530565251799842821,â€œAs faculty and officers of Harvard University...,1,2022-05-28 15:02:47
999,1530564563510259712,Yara Shahidi graduated from Harvard University...,102,2022-05-28 15:00:03

In [116]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Princeton University OR #Princeton OR @Princeton -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531373305608929282,@Reality_Enjoyer @IsleLesbos @CattyArt1 @TheSc...,0,2022-05-30 20:33:42
1,1531371352975761409,@SawyerHackett @AngryRN74 @POTUS The #GOP are ...,0,2022-05-30 20:25:56
2,1531369672909549569,@aliasvaughn @highbrow_nobrow @Princeton So true,0,2022-05-30 20:19:16
3,1531369119517376513,@costareports @Princeton Why do even the stron...,0,2022-05-30 20:17:04
4,1531364977285685251,â€œYouâ€™re never to take an oath to a president. ...,32,2022-05-30 20:00:36
...,...,...,...,...
995,1529765587903291393,The Illusionist Brain https://t.co/mLx2kWxnnn...,1,2022-05-26 10:05:12
996,1529764712094658560,"Dream high!ðŸ’«\n\nKHO, ENZO MIGUEL O.\nSilliman ...",882,2022-05-26 10:01:43
997,1529764402089574400,[Digital Exhibit] Through a Glass Darkly: Alch...,1,2022-05-26 10:00:29
998,1529763417908822016,Princeton University disgraced itself by firin...,7,2022-05-26 09:56:35
999,1529762267373395968,NEW: PrincetonÂ University Society of Fellows P...,0,2022-05-26 09:52:00

In [119]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Columbia University OR #Columbia OR @Columbia -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531372747791618049,So good I had to share! Check out all the item...,0,2022-05-30 20:31:29
1,1531372714044411904,"At Columbia University in New York, scientists...",1,2022-05-30 20:31:21
2,1531372535870132224,So good I had to share! Check out all the item...,0,2022-05-30 20:30:38
3,1531372441276141569,Check out our #listing in #Columbia #MO #real...,0,2022-05-30 20:30:16
4,1531372428659552258,So good I had to share! Check out all the item...,0,2022-05-30 20:30:13
...,...,...,...,...
995,1530315667529940998,A team of Bilawal Bhutto had contacted Pakista...,0,2022-05-27 22:31:01
996,1530315399316680704,So good I had to share! Check out all the item...,0,2022-05-27 22:29:57
997,1530315246929252353,So good I had to share! Check out all the item...,0,2022-05-27 22:29:21
998,1530315051545948162,So good I had to share! Check out all the item...,0,2022-05-27 22:28:34
999,1530314027372617729,@ProjectLincoln a study at Columbia university...,3,2022-05-27 22:24:30

In [120]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Penn OR #Penn OR @Penn -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531374932638179332,In a bit of a delay at Penn State Behrend due ...,0,2022-05-30 20:40:10
1,1531374829860954114,"@frank_in_penn The cells are human, but they a...",0,2022-05-30 20:39:45
2,1531374701863489536,"@bitmapped @theDudeofWV Temple, Pitt, and Penn...",0,2022-05-30 20:39:15
3,1531374695144165376,@TheUSASingers https://t.co/c2YOOxxJLE,0,2022-05-30 20:39:13
4,1531374640135819265,-LSU\n-A&amp;M\n-Penn St (pleasantly surprised...,0,2022-05-30 20:39:00
...,...,...,...,...
995,1531224070083301377,@SoonerNation22 @247Sports @LateKickJosh The e...,0,2022-05-30 10:40:41
996,1531223921336500226,@hendrikinvestor @UniLUISS @Penn @UniLeiden @F...,3,2022-05-30 10:40:06
997,1531223246925877252,@SoonerNation22 @247Sports @LateKickJosh Michi...,0,2022-05-30 10:37:25
998,1531223085239742464,@GopherCrew @Reecedavoice 1. Illinois\n2. Mich...,4,2022-05-30 10:36:46
999,1531222696708780035,Existem 3 grandes grupos mundiais em formaÃ§Ã£o:...,0,2022-05-30 10:35:14

In [127]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Brown University OR #BrownUniversity OR @BrownUniversity -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531378279684354048,I &lt;3 Brown University: Where students will ...,0,2022-05-30 20:53:28
1,1531378263452286976,"Want to work in Providence, RI? View our lates...",0,2022-05-30 20:53:24
2,1531375226692325376,We're hiring! Click to apply: Field Coordinato...,0,2022-05-30 20:41:20
3,1531374496422174722,Grammy-winning dancehall artiste Shaggy was co...,27,2022-05-30 20:38:26
4,1531373564871548928,Congratulations to 2023 5â€™9 G Jasmine Brown on...,6,2022-05-30 20:34:44
...,...,...,...,...
995,1529205677218050049,"""Dr. BrenÃ© Brown, a social work research profe...",0,2022-05-24 21:00:19
996,1529204736301404160,Honored to give the Keynote at this yearâ€™s ret...,3,2022-05-24 20:56:35
997,1529204371480715264,I &lt;3 Brown University: Where students will ...,0,2022-05-24 20:55:08
998,1529203845762523136,"Brown University adopts land acknowledgment, a...",0,2022-05-24 20:53:02
999,1529200001011748864,"If you're looking for work in Providence, RI, ...",0,2022-05-24 20:37:46

In [128]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Cornell University OR #Cornell OR @Cornell -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531379665771937793,@melatcornell @Cornell @CornellRsrch @CornellC...,0,2022-05-30 20:58:58
1,1531374931585470469,@NOIweala @Cornell @WeillCornell One height du...,0,2022-05-30 20:40:09
2,1531374051419201537,@CornellSports @CornellLacrosse @CUBigRedGamed...,0,2022-05-30 20:36:40
3,1531372834211110913,@SportsAtLarge #Terps rule! #Lacrosse brillian...,0,2022-05-30 20:31:49
4,1531372374725013505,There's no doubt that @Cornell @CornellSports ...,34,2022-05-30 20:30:00
...,...,...,...,...
111,1531228955574927362,Join debate on Security for apparel workers: a...,16,2022-05-30 11:00:06
112,1531223319399342086,I did it! I just completed Cornell Universityâ€™...,2,2022-05-30 10:37:42
113,1531220582179684352,@NOIweala @Cornell @WeillCornell Congratulations,0,2022-05-30 10:26:50
114,1531213156118323200,Our doors are always open @IAU_AIU to visitor...,7,2022-05-30 09:57:19
115,1531212402292887554,@NOIweala @Cornell @WeillCornell Congratulatio...,0,2022-05-30 09:54:19

In [129]:
num_tweets= 1000
id = []
author=[]
tweets = []
likes = []
time = []
searchQuery = 'Yale University OR #Yale OR @Yale -filter:retweets'
cursor = tweepy.Cursor(api.search, q=searchQuery, tweet_mode = "extended", result_type='recent').items(num_tweets)

for i in cursor:
  id.append(i.id)
  author.append(i.author)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})
df

,id,tweets,likes,time
0,1531374721895665664,@Yale @Apple Connect. ðŸ”—â¤ï¸â¤ï¸â¤ï¸,0,2022-05-30 20:39:19
1,1531372714732027906,@canncr @BjornLomborg William Nordhaus is a No...,1,2022-05-30 20:31:21
2,1531370869494276096,Meet Dr. David Kim! Dr. Kim is a board-certifi...,0,2022-05-30 20:24:01
3,1531368145285525513,#LaBuenaDelDeporte ðŸ‡µðŸ‡¾\n\nðŸš£â€â™‚ï¸ Â¡@martineznicole...,4,2022-05-30 20:13:11
4,1531367330827083778,@gcabello1 @Yale @coparaguay @sndpy @delpynews...,0,2022-05-30 20:09:57
...,...,...,...,...
995,1530361108988628992,"Hey, @Yale, this is supposed to be a student o...",1,2022-05-28 01:31:35
996,1530360852540694528,@malena_rice @MIT @Yale U were lucky not to bo...,0,2022-05-28 01:30:34
997,1530360778251030529,@THEHACKRIDE @malena_rice @MIT @Yale Education...,5,2022-05-28 01:30:16
998,1530360178285203457,@malena_rice @MIT @Yale Comgratularion...,0,2022-05-28 01:27:53
999,1530359786952265729,@THEHACKRIDE @malena_rice @MIT @Yale @Esteband...,0,2022-05-28 01:26:20