<a href="https://colab.research.google.com/github/HaroldThan/IvySentiment/blob/main/IvySentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install panda

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: panda in /usr/local/lib/python3.7/dist-packages (0.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)

In [ ]:
import tweepy
import pandas as pd

In [ ]:
# Consumer keys and access tokens, used for OAuth
consumer_key = "zPfJ1DojC5PrEH2wvA9LRPHv1"
consumer_secret  ="5oXlW2Y4qxlWvYcGezaXFaRbPoWk22Zjlcpx9O9jECDcT803yF"
access_token = "1433558229242441738-3fbdv0jtkSmzlfyphfO1ISg8geRPu2"
access_token_secret = "TDRkxIvp0QGmgAsyYBpO8EY6xQqI8WE48nxPUT9hndl5U"
bearer_token = "AAAAAAAAAAAAAAAAAAAAADiRdAEAAAAAHeh%2FuRorkP8d6pR0spB9pTCN1mw%3DS7IPHm4I3zVmSh4m8cZaNr2TH1zYkYnbhVwfRSVlLamnd8wON8"

In [ ]:
# import tweepy
# # OAuth process, using the keys and tokens
# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_token_secret)
 

import tweepy

auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
api = tweepy.API(auth)
# Creation of the actual interface, using authentication
api = tweepy.API(auth)

In [ ]:
cursor = tweepy.Cursor(api.search, q="dartmouth", tweet_mode = "extended").items(1)

In [ ]:
num_tweets= 200
id = []
tweets = []
likes = []
time = []

for i in tweepy.Cursor(api.user_timeline, id = "dartmouth", tweet_mode='extended').items(num_tweets):
  id.append(i.id)
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

In [ ]:
df = pd.DataFrame({'id':id, 'tweets': tweets, 'likes':likes, 'time':time})

In [ ]:
df

,id,tweets,likes,time
0,1530982557201866752,"From the Revolutionary War, the Civil War, Wor...",9,2022-05-29 18:41:00
1,1530543012425646080,Give a rouse for the #Geisel22s!ðŸŽ‰ðŸ’š ðŸŽ“ https://t...,24,2022-05-28 13:34:24
2,1530527347811749889,RT @GeiselMed: Class Day 2022 begins in one ho...,0,2022-05-28 12:32:10
3,1530521984219721731,Help celebrate the @GeiselMed Class of 2022 by...,4,2022-05-28 12:10:51
4,1530521352242876419,Tune in today at 9 a.m. to celebrate the @Geis...,4,2022-05-28 12:08:20
...,...,...,...,...
195,1493638752736092171,MD/PhD candidate Abigail Dutton is conducting ...,4,2022-02-15 17:30:03
196,1493630183374573568,"""Expanded Present,"" by Professor Soo Sunny Par...",39,2022-02-15 16:56:00
197,1493311184203825165,Students in Allen House spent last Friday even...,4,2022-02-14 19:48:25
198,1493310933178802176,"RT @dartmouthsports: Tommy Ford â€™12, Rosie Bre...",0,2022-02-14 19:47:25
199,1493310560376655884,RT @dartmouthalumni: From first year orientati...,0,2022-02-14 19:45:56